@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-primary-1: #FFE6E9;
  --color-primary-2: #FFCDD2;
  --color-primary-3: #FFA3AD;
  --color-primary-4: #FF6F7F;
  --color-primary-5: #EE1636;
  --color-primary-6: #C51431;
  --color-primary-7: #A31228;
  --color-primary-8: #810102;
  --color-primary-9: #60001C;
  --color-primary-10: #3F0014;
   --color-secondary-1: #FFE9EF;
  --color-secondary-2: #FFD3DE;
  --color-secondary-3: #FFBCD5;
  --color-secondary-4: #FFBCA5;
  --color-secondary-5: #F64977;
  --color-secondary-6: #D43768;
  --color-secondary-7: #B13859;
  --color-secondary-8: #8E2D49;
  --color-secondary-9: #6B223A;
  --color-secondary-10: #48162A;
}



body{
    font-family: "Lexend", sans-serif;
}
