@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-1: #ffe6e9;
  --color-primary-2: #ffcdd2;
  --color-primary-3: #ffa3ad;
  --color-primary-4: #ff6f7f;
  --color-primary-5: #ee1636;
  --color-primary-6: #c51431;
  --color-primary-7: #a31228;
  --color-primary-8: #810102;
  --color-primary-9: #60001c;
  --color-primary-10: #3f0014;
  --color-secondary-1: #ffe9ef;
  --color-secondary-2: #ffd3de;
  --color-secondary-3: #ffbcd5;
  --color-secondary-4: #ffbca5;
  --color-secondary-5: #f64977;
  --color-secondary-6: #d43768;
  --color-secondary-7: #b13859;
  --color-secondary-8: #8e2d49;
  --color-secondary-9: #6b223a;
  --color-secondary-10: #48162a;
  --color-gray-background-8: #334155;
  --color-black-highest: #1b1c20;
  --color-purple-brown: #2b1f26;
  --color-gray-background-9: #1e293b;
  --color-gray-background-7: #475569;
  --color-gray-background-6: ##64748b;
  --breakpoint-xs: 400px;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 24px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #d6d6d6;
    border-radius: 24px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "Lexend", sans-serif;
}

.card-shadow {
  box-shadow:
    0px 4px 6px -2px rgba(114, 114, 114, 0.03),
    0px 12px 16px -4px rgba(58, 58, 58, 0.08);
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* overflow tests */
/* * {
  outline: 1px solid red !important;
} */
